html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #3d5a80;
}

#app {
    height: 100%;
}

#mainCard {
    background-color: #293241;
}

.card {
    --bs-card-border-width: 0px;
}

.toast {
    --bs-text-opacity: 1;
    background-color: #3d5a80;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.device {
    background-color: transparent;
}

.modal-content {
    --bs-modal-header-border-width: none;
}